[submodule "coffee-mode"]
	path = coffee-mode
	url = https://github.com/defunkt/coffee-mode
[submodule "js2-mode"]
	path = js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "scss-mode"]
	path = scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "color-theme"]
	path = color-theme
	url = git@github.com:my8bird/emacs-color-theme.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = git://github.com/jochu/clojure-mode.git
